@model SMK.Web.Models.CorrectionSlipQueryModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-12">
        <div class="card rounded-lg">
            <div class="card-header">
                <div class="col-md-12 text-left text-secondary">
                    更正單<br />
                    將每月機構申請VPN更正清單上傳，可查詢更正細目；另可下載VPN更正單筆數統計年報之功能。
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div id="app" class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="col-sm-12">
                    <form id="queryForm" class="form-horizontal" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-row mb-4 row">
                            <div class="form-inline col-6">
                                <label asp-for="HospID" class="col-sm-5 col-form-label text-right"></label>
                                <div class="col-sm-7 input-group">
                                    <div class="input-group-prepend">
                                        <input name="HospID" id="HospIDRegisterVPN" class="form-control" placeholder="機構代碼" />
                                    </div>
                                    <input name="HospSeqNo" id="HospSeqNoRegisterVPN" class="form-control" maxlength="2" placeholder="院區別" value="00" />
                                </div>
                            </div>
                            <div class="form-inline col-6">
                                <label asp-for="HospName" class="col-sm-4 col-form-label text-right"></label>
                                <div class="col-sm-7">
                                    <input name="HospName" id="HospNameRegisterVPN" class="form-control w-100" readonly />
                                </div>
                            </div>
                        </div>

                        <div class="form-row mb-4 row">
                            <div class="form-inline col-6">
                                <label class="col-sm-5 col-form-label text-right" style="white-space:nowrap">收件起迄日期</label>
                                <div class="col-sm-7 input-group">
                                    <input asp-for="FuncSDate" class="form-control smkdate3" autocomplete="off" placeholder="收件日期(起)" />
                                    <span asp-validation-for="FuncSDate" class="text-danger"></span>
                                    <input asp-for="FuncEDate" class="form-control smkdate3" autocomplete="off" placeholder="收件日期(迄)" />
                                    <span asp-validation-for="FuncEDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-inline col-6">
                                <label asp-for="CaseNo" class="col-sm-4 col-form-label text-right"></label>
                                <div class="col-sm-7">
                                    <input asp-for="CaseNo" class="form-control w-100" />
                                </div>
                            </div>
                        </div>

                        <div class="form-row mb-4 row">
                            <div class="form-inline col-sm-6">
                                <label asp-for="year" class="col-sm-5 col-form-label"></label>
                                <div class="col-sm-3">
                                    <input asp-for="year" class="form-control" />
                                </div>
                                <span asp-validation-for="year" class="text-danger col-sm-3"></span>
                            </div>
                            <div class="form-inline col-sm-6">
                                <button type="button" @@click="downloadMonthlyReport('xlsx')" class="btn btn-primary mr-3">下載年報 (Excel)</button>
                                <button type="button" @@click="downloadMonthlyReport('ods')" class="btn btn-primary mr-2">下載年報 (Ods)</button>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <input type="file" @@change="uploadFile" ref="file">
                            <button type="button" @@click="submitFile" class="btn btn-primary mr-2">批次上傳</button>

                        </div>     
                        <div class="d-flex justify-content-center mt-2">
                            <button type="button" @@click="query()" class="btn btn-primary mr-2">查詢</button>
                            <button type="button" onclick="location.href='@Url.Action("Create","CorrectionSlip")'" class="btn btn-primary mr-2">新增</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table id="dataTable1" class="table table-bordered table-hover nowrap" role="grid">
                            <thead>
                                <tr role="row">
                                    <th class="text-nowrap">
                                        案件編號

                                    </th>
                                    <th class="text-nowrap">收件日期</th>
                                    <th class="text-nowrap">機構代碼</th>
                                    <th class="text-nowrap">院區別</th>
                                    <th class="text-nowrap">機構名稱</th>

                                    <th class="text-nowrap">個案姓名</th>
                                    <th class="text-nowrap">身分證號</th>

                                    <th class="text-nowrap">出生日期</th>

                                    <th class="text-nowrap">更-基本</th>
                                    <th class="text-nowrap">更-就醫</th>
                                    <th class="text-nowrap">更-衛教</th>
                                    <th class="text-nowrap">更-其他</th>

                                    <th class="text-nowrap">更正項目</th>

                                    <th class="text-nowrap">更正項目_2</th>
                                    <th class="text-nowrap">備註(資料來源)</th>
                                    <th class="text-nowrap">註記</th>
                                    <th class="text-nowrap">修改者</th>
                                    <th class="text-nowrap">修改日期</th>
                                    <th class="text-nowrap">申請更正原因</th>
                                    <th class="text-nowrap">原因說明</th>
                                    @*<th class="text-nowrap">檔案下載</th>*@
                                </tr>
                            </thead>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        @await Html.PartialAsync("~/Views/Shared/_DataTables.cshtml")
        ;
    }
    <script>
        $(function () {
            $('#HospID,#HospSeqNo').on('keyup', async function () {
                var hospID = $('#HospID').val();
                var hospSeqNo = $('#HospSeqNo').val();
                const { data } = await axios.get('@Url.Action("GetHospName", "HospBasic")', { params: { hospID, hospSeqNo }, hideMask: true });
                if (data !== undefined) {
                    $('#HospName').val(data);
                }
            });
        })

        /**
        * 上傳檔案後，更新上檔案名稱
        */
        const ChangeFilesName = (inputElement) => {
            // 取得檔案元素
            const fileElement = inputElement.files[0];
            // 取得檔案名稱
            const fileName = fileElement.name;
            // 選擇相應的 label 元素
            const labelElement = inputElement.nextElementSibling;
            // 將檔案名稱設定為 label 元素的文字內容
            labelElement.innerText = fileName;
        }

        var $hospbasicTable;
        const app = new Vue({
            el: '#app',
            data: {
                showModal: false,
                hospContTypeSelected: false,
                options: [],
                hospContTypes: [],
                input: null
            },
            methods: {
                downloadMonthlyReport: function (fileTypes) {
                    var o = $("#queryForm").serializeObject()
                    var url = `@Url.Action("Export", "CorrectionSlip")` + '?fileType=' + fileTypes;
                    console.log(url)
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: o,
                        xhrFields: {
                            responseType: 'blob' // to avoid binary data being mangled on charset conversion
                        },
                        success: function (blob, status, xhr) {
                            // check for a filename
                            var filename = "";
                            var disposition = xhr.getResponseHeader('Content-Disposition');
                            if (disposition && disposition.indexOf('attachment') !== -1) {
                                var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                                var matches = filenameRegex.exec(disposition);
                                if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
                            }

                            if (typeof window.navigator.msSaveBlob !== 'undefined') {
                                // IE workaround for "HTML7007: One or more blob URLs were revoked by closing the blob for which they were created. These URLs will no longer resolve as the data backing the URL has been freed."
                                window.navigator.msSaveBlob(blob, filename);
                            } else {
                                var URL = window.URL || window.webkitURL;
                                var downloadUrl = URL.createObjectURL(blob);

                                if (filename) {
                                    // use HTML5 a[download] attribute to specify filename
                                    var a = document.createElement("a");
                                    // safari doesn't support this yet
                                    if (typeof a.download === 'undefined') {
                                        window.location.href = downloadUrl;
                                    } else {
                                        a.href = downloadUrl;
                                        a.download = filename;
                                        document.body.appendChild(a);
                                        a.click();
                                    }
                                } else {
                                    window.location.href = downloadUrl;
                                }

                                setTimeout(function () { URL.revokeObjectURL(downloadUrl); }, 100); // cleanup
                            }
                        }
                    });
                },
                uploadFile() {
                    this.input = this.$refs.file.files[0];
                },
                submitFile() {
                    const formData = new FormData();
                    formData.append('file', this.input);
                    console.log(this.input);
                    const headers = { 'Content-Type': 'multipart/form-data' };
                    $.ajax({
                        url: '@Url.Action("Upload", "CorrectionSlip")',
                        data: formData,
                        //headers: headers,
                        processData: false,
                        contentType: false,
                        method: 'post',
                        success: function (res) {
                            if (!res.isSuccess) {
                                myAlert.error("匯入錯誤", res.errMsg, true);
                                return;
                            } else {
                                myAlert.success("匯入成功", res.msg, true);
                            }
                        }
                    })
        @*axios.post('@Url.Action("Upload", "CorrectionSlip")', formData, { headers }).then((res) => {
                    if (!res.isSuccess) {
                    myAlert.error("匯入錯誤", res.errMsg, true);
                    return;
                    } else {
                    myAlert.success("匯入成功");
                    }
                    });*@
                                                    },
                query() {

                    //北市聯醫還不能分開搜尋，需要加入[院區別]的篩選條件
                    if ($('#HospID').val() == "0101090517" && ($('#HospSeqNo').val() == "00" || $('#HospSeqNo').val() == "")) {
                        myAlert.error("北市聯醫不能分開搜尋", "請輸入院區別", true);
                        $('#HospSeqNo').val("");
                        return;
                    }

                    if ($hospbasicTable)
                        $hospbasicTable.destroy();

                    const ajax = function (data, callback, settings) {
                        var o = $("#queryForm").serializeObject();
                        o.draw = data.draw;
                        o.start = data.start;
                        o.length = data.length;
                        $.post('@Url.Action("query", "CorrectionSlip")', o, function (res) {
                            if (!res.isSuccess) {
                                myAlert.error("查詢錯誤", res.errMsg, true);
                                return;
                            }
                            callback(res.data);
                        });
                    };

                    $hospbasicTable = $("#dataTable1").DataTable({
                        "scrollY": "600px",//可选，是否固定表格高度，不包括表头；
                        "scrollCollapse": true,//与scrollY结合使用，是否固定高度，默认false;
                        "serverSide": true,
                        "ajax": ajax,
                        "paging": true,
                        "searching": false,
                        "ordering": false,
                        "scrollX": true,
                        "stripeClasses": [],
                        "createdRow": function (row, data, dataIndex) {
                            $(row).removeClass('even');
                            $(row).removeClass('odd');
                            if (data['dataType'] === '1') {
                                $(row).addClass('light-cyan');
                            } else {
                                $(row).addClass('light-yellow');
                            }
                        },
                        "columns": [
                            { data: "caseNo", targets: 0 },
                            { data: "receiveDate", targets: 1 },
                            { data: "hospId", targets: 2 },
                            { data: "hospSeqNo", targets: 3 },
                            { data: "hospName", targets: 4 },
                            { data: "name", targets: 5 },
                            { data: "id", targets: 6 },
                            { data: "birthday", targets: 7 },
                            { data: "correctBasic", targets: 8 },
                            { data: "correctHosp", targets: 9 },
                            { data: "correctHealth", targets: 10 },
                            { data: "correctOther", targets: 11 },
                            { data: "correctItems", targets: 12 },
                            { data: "correctItems2", targets: 13 },
                            { data: "source", targets: 14 },
                            { data: "memo", targets: 15 },
                            { data: "updatedBy", targets: 16 },
                            { data: "updateAt", targets: 17 },
                            { data: "correctionReason", targets: 18 },
                            { data: "reasonStatement", targets: 19 },
                        ]
                    });
                },
                insert: function () {
                    alert('尚未獲得資料實作');
                }
            },
        });

    </script>
}