@using SMK.Web.Services.Foundation;
@using SMK.Data.Entity;
@using SMK.Web.Heppers;
@using SMK.Data.Utility;
@model HospBasicViewModel
@inject HospBasicService hospBasicService;
@inject GenHospContService genHospContService;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var branchList = await hospBasicService.GetSelectLists<GenBranch>(
                                                    context => context.GenBranch,
                                                    x => x.BranchNo,
                                                    x => x.BranchName);
    var smkContractsList = await hospBasicService.GetSelectLists<GenSmkcontract>(
                                                    context => context.GenSmkcontract,
                                                    x => x.SmkcontractType,
                                                    x => x.SmkcontractName);
    var endReasionsList = await hospBasicService.GetSelectLists<GenEndReason>(
                                                    context => context.GenEndReason,
                                                    x => x.EndReasonNo,
                                                    x => x.EndReasonName);
}

<div class="row" id="app">
    <div class="col-12" v-cloak>
        <form asp-action="Edit" onsubmit="return CheckHospContType()">
            <div class="card">
                <div class="card-header">機構資訊</div>
                <div class="card-body">
                    <div class="col-sm-12">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <label asp-for="HospId" class="control-label"></label>
                                <div class="input-group">
                                    <div class="input-group-prepend col-10">
                                        <label class="form-control">@Model.HospId</label>
                                        <input type="hidden" class="form-control mr-2" asp-for="HospId" placeholder="">
                                    </div>
                                    <label class="form-control">@Model.HospSeqNo</label>
                                    <input type="hidden" class="form-control" asp-for="HospSeqNo" placeholder="">
                                </div>
                                <span asp-validation-for="HospId" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label asp-for="HospStatus" class="control-label"></label>
                                <label class="form-control">@Model.HospStatusString</label>
                                <input hidden="hidden" asp-for="HospStatus" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <label asp-for="PrevHospID" class="control-label"></label>
                                <label class="form-control">@Model.PrevHospID @Model.PrevHospSeqNo</label>
                                <input hidden="hidden" asp-for="@Model.PrevHospID" />
                                <input hidden="hidden" asp-for="@Model.PrevHospSeqNo" />
                            </div>
                            <div class="col-md-6 mb-2">
                                <label asp-for="LastHospId" class="control-label"></label>
                                <label class="form-control">@Model.LastHospId @Model.LastHospSeqNo</label>
                                <input hidden="hidden" asp-for="@Model.LastHospId" />
                                <input hidden="hidden" asp-for="@Model.LastHospSeqNo" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-2">
                                <label asp-for="HospName" class="control-label"></label>
                                <input type="text" class="form-control" asp-for="HospName" placeholder="">
                                <span asp-validation-for="HospName" class="text-danger"></span>
                            </div>
                        </div>

                        @{
                            var Treat = 0;
                            var Instruct = 0;
                            if (Model.HospContracts.Count > 0 && Model.HospCont != null)
                            {
                                var IsDefault = Model.HospContracts.Any(p => p.SmkcontractType == "01");
                                var IsTreatTop = Model.HospContracts.Any(p => p.SmkcontractType == "02");
                                var IsInstructTop = Model.HospContracts.Any(p => p.SmkcontractType == "03");

                                if (IsDefault)
                                {
                                    Treat = Model.HospCont.QualityDefaultCount;
                                    Instruct = Model.HospCont.QualityDefaultCount;
                                }
                                if (IsTreatTop)
                                {
                                    Treat = Model.HospCont.QualityImproveCount;
                                }
                                if (IsInstructTop)
                                {
                                    Instruct = Model.HospCont.QualityImproveCount;
                                }
                            }

                            <div class="alert alert-info" role="alert">
                                <p>機構層級：@Model.HospCont?.HospContName</p>
                                <p>用藥 @Treat 服務人次；衛教 @Instruct 服務人次；</p>
                                <p>用藥申請調整：配額 @(Model.MedicationQuota.HasValue ? Model.MedicationQuota.Value.ToString() : "0")</p>
                                <p>衛教申請調整：配額 @(Model.InstructionsQuota.HasValue ? Model.InstructionsQuota.Value.ToString() : "0")</p>
                            </div>
                        }

                        <div class="row">
                            <div class="col-md-12 mb-2 form-group">
                                <label asp-for="HospAddress" class="control-label"></label>
                                <div class="input-group">
                                    <div class="input-group-prepend col-2">
                                        <input type="text" class="form-control mr-2" asp-for="Zip" placeholder="">
                                    </div>
                                    <input type="text" class="form-control" asp-for="HospAddress" placeholder="">
                                </div>
                                <span asp-validation-for="HospAddress" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-2">
                                <label asp-for="HospEmail" class="control-label"></label>
                                <input type="text" class="form-control" asp-for="HospEmail" placeholder="">
                                <span asp-validation-for="HospEmail" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <label asp-for="HospTel" class="control-label"></label>
                                <input type="text" class="form-control" asp-for="HospTel" placeholder="">
                                <span asp-validation-for="HospTel" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label asp-for="HospFax" class="control-label"></label>
                                <input type="text" class="form-control" asp-for="HospFax" placeholder="">
                                <span asp-validation-for="HospFax" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <label asp-for="HospOwnName" class="control-label"></label>
                                <input type="text" class="form-control" asp-for="HospOwnName" placeholder="">
                                <span asp-validation-for="HospOwnName" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label asp-for="HospOwnId" class="control-label"></label>
                                <input type="text" class="form-control" asp-for="HospOwnId" placeholder="">
                                <span asp-validation-for="HospOwnId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <label asp-for="BranchNo" class="control-label"></label>
                                @Html.MyDropDownList("BranchNo",
                                branchList,
                                (m) =>
                                {
                                var selItem = ((SelectListItem)m);
                                selItem.Selected = selItem.Value == @Model.BranchNo;
                                return selItem;
                                },
                                new { @class = "form-control col-sm-7", id = "BranchNo" }, true)
                                <span asp-validation-for="BranchNo" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label asp-for="CreateDate" class="control-label"></label>
                                <label class="form-control">@Model.CreateDate</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <label asp-for="Contact1" class="control-label"></label>
                                <input type="text" class="form-control" asp-for="Contact1" placeholder="">
                                <span asp-validation-for="Contact1" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label asp-for="ContactEmail1" class="control-label"></label>
                                <input type="text" class="form-control" asp-for="ContactEmail1" placeholder="">
                                <span asp-validation-for="ContactEmail1" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <label asp-for="ContactTel1" class="control-label"></label>
                                <input type="text" class="form-control" asp-for="ContactTel1" placeholder="">
                                <span asp-validation-for="ContactTel1" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label asp-for="ContactFax1" class="control-label"></label>
                                <input type="text" class="form-control" asp-for="ContactFax1" placeholder="">
                                <span asp-validation-for="ContactFax1" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-2">
                                <label asp-for="Remark" class="control-label"></label>
                                <input type="text" class="form-control" asp-for="Remark" placeholder="">
                                <span asp-validation-for="Remark" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-2">
                                <label asp-for="HospContType" class="control-label"></label>
                                <select id="HospContType" name="HospContType" class="form-control" v-model="newHospContTypes">
                                    <option v-for="option in options" v-bind:value="option.hospContType">
                                        {{ option.hospContName }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <input type="hidden" class="form-control" asp-for="HospContMainType_StartDay" placeholder="">
                        @*                        <div class="row">
                        <div class="col-md-6 mb-2">
                        <label for="exampleInputFile">契約書檔案</label>
                        <div class="input-group">
                        <div class="custom-file">
                        <input type="file" id="file-uploader" data-target="file-uploader" accept="application/pdf" />
                        <label class="custom-file-label" for="file-uploader">選擇檔案</label>
                        </div>
                        <div class="input-group-append">
                        <button id="uploadFile" type="button" class="btn btn-primary">上傳</button>
                        </div>
                        </div>
                        </div>
                        </div>*@
                    </div>
                </div>
                <div class="card-footer"></div>
                <div>
                    <div class="card-header">
                        機構特約資料
                        <input type="button" value="新增機構特約" class="btn-sm btn-primary" v-on:click="addHospContractType();" />
                    </div>
                    <div class="card-body">
                        <div class="col-sm-12">
                            <table class="jqDataTable table table-striped table-bordered table-hover" role="grid">
                                <thead>
                                    <tr role="row">
                                        <th class="text-nowrap">序號</th>
                                        <th class="text-nowrap">健保特約類別</th>
                                        <th class="text-nowrap">特約類別起日</th>
                                        <th class="text-nowrap">特約類別訖日</th>
                                        <th class="text-nowrap">功能</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(e, index) in hospContTypes">
                                        <td>{{ index+1 }}</td>
                                        <td>
                                            <select id="HospContType" :name="getHospContTypeName(index)" v-model="e.hospContType" class="form-control">
                                                <option v-for="option in options" v-bind:value="option.hospContType" v-bind:disabled="option.hospContType === '0'">
                                                    {{ option.hospContName }}
                                                </option>
                                            </select>
                                        </td>
                                        <td>
                                            <datepicker v-model="e.cntSDate" :name="getCntSDateName(index)" class="form-control" placeholder=""></datepicker>
                                        </td>
                                        <td>
                                            <datepicker v-model="e.cntEDate" :name="getCntEDateName(index)" class="form-control" placeholder=""></datepicker>
                                        </td>
                                        <td><a class="btn btn-danger fn-delete" @@click="removeHospContractType(index)">刪除</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                @if (Model.HospContracts != null)
                {
                    <div class="card-header">
                        機構合約
                        <button class="btn-sm btn-primary" asp-action="AddHospContract">新增機構合約</button>
                        <div class="card-tools">
                            <button id="updateaddHospContracts" type="button" class="btn btn-tool"
                                    title="更新合約資料">
                                <i class="fas fa-sync"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-sm-12">
                            <div class="col-sm-12 table-responsive">
                                <table class="jqDataTable table table-striped table-bordered table-hover" role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th class="text-nowrap">
                                                序號
                                            </th>
                                            <th class="text-nowrap">&emsp; &emsp; &emsp; &emsp; 合約類別 &emsp; &emsp; &emsp; &emsp;</th>
                                            <th class="text-nowrap">合約生效日期</th>
                                            <th class="text-nowrap">&emsp; 合約終止日 &emsp;</th>
                                            <th class="text-nowrap">&emsp; &emsp; &emsp; 終止原因 &emsp; &emsp; &emsp; </th>
                                            <th class="text-nowrap">&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 備註 &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;</th>
                                            <th class="text-nowrap">建檔日期</th>
                                            <th class="text-nowrap"> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 檔案上傳  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;</th>
                                            <th class="text-nowrap">&emsp; 下載 &emsp;</th>
                                            <th class="text-nowrap">&emsp; &emsp; &emsp; 最後上傳時間 &emsp; &emsp; &emsp; </th>
                                            <th class="text-nowrap">&emsp; 功能 &emsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.HospContracts.Count; i++)
                                        {
                                            <tr>
                                                <td class="sorting_1" style="vertical-align:middle;text-align:center">
                                                    @(i + 1)
                                                    <input type="hidden" asp-for="@Model.HospContracts[i].Id" id="Id_@(i)" />
                                                    <input type="hidden" asp-for="@Model.HospContracts[i].HospId" id="HospId_@(i)" />
                                                    <input type="hidden" asp-for="@Model.HospContracts[i].HospSeqNo" id="HospSeqNo_@(i)" />
                                                </td>
                                                <td>
                                                    <select asp-items="smkContractsList"
                                                            asp-for="@Model.HospContracts[i].SmkcontractType"
                                                            class="form-control"
                                                            id="SMKContractType_@(i)"></select>
                                                </td>
                                                <td>
                                                    <input asp-for="@Model.HospContracts[i].TWHospStartDate" class="form-control smkdate" />
                                                </td>
                                                <td>
                                                    <input asp-for="@Model.HospContracts[i].TWHospEndDate" class="form-control smkdate" />
                                                </td>
                                                <td>
                                                    <select asp-items="endReasionsList"
                                                            asp-for="@Model.HospContracts[i].EndReasonNo"
                                                            class="form-control"
                                                            id="EndReasonNo_@(i)">
                                                        <option value="">請選擇</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input asp-for="@Model.HospContracts[i].Remark" class="form-control" />
                                                </td>
                                                <td>
                                                    <label id="CreateDate_@(i)">@Model.HospContracts[i].CreateDate</label>
                                                </td>
                                                <td>
                                                    <div class="input-group">
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input" id="file-uploader_@(i)" data-target="file-uploader" accept=".pdf" />
                                                            <label class="custom-file-label" for="file-uploader">選擇檔案</label>
                                                        </div>
                                                        <div class="input-group-append">
                                                            <button id="IniDrdtluploadFile_@(i)" type="button" class="btn btn-primary" value="@(i)">上傳</button>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="vertical-align:middle;text-align:center" class="button_Download">
                                                    <button type="button" class="Download" title="下載" id="button_Download_@(i)" value="@(i)"><i class="fas fa-download" aria-hidden="true"></i></button>
                                                </td>
                                                <td style="vertical-align:middle;text-align:center">
                                                    @*<label id="UpdateFileTime_@(i)">@Model.HospContracts[i].UpdateFileTime</label>*@
                                                    <label id="UpdateFileTime_@(i)">@string.Format("{0:yyyy/MM/dd HH:mm:ss}", @Model.HospContracts[i].UpdateFileTime)</label>
                                                </td>
                                                <td style="vertical-align:middle;text-align:center">
                                                    @*<a asp-action="Edit" asp-route-id="@Model.HospContracts[i].HospId" class="btn btn-primary">編輯</a>*@
                                                    <a asp-action="DeleteContract" asp-route-id="@Model.HospContracts[i].Id"
                                                       data-ajax-failure="onFailed" data-ajax-success="onSuccess"
                                                       data-ajax="true" data-ajax-method="POST"
                                                       class="btn btn-danger fn-delete"
                                                       onclick="return confirmDelete(event,'請問是否要刪除，序號 : @(i+1)');">刪除</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
                <div class="card-footer text-center">
                    <input type="submit" value="儲存" class="btn btn-primary" />
                    <a asp-action="Delete"
                       asp-route-hospid="@Model.HospId"
                       asp-route-hospseqno="@Model.HospSeqNo"
                       data-ajax-failure="onFailed"
                       data-ajax-success="onDeleteSuccess"
                       data-ajax="true"
                       data-ajax-method="POST"
                       class="btn btn-danger fn-delete">刪除</a>
                    <a asp-action="HospPrsnList" class="btn btn-primary" asp-route-hospid="@Model.HospId" asp-route-hospseqno="@Model.HospSeqNo">醫事機構人員合約資料</a>
                    <a href="#" id="btnChangeHospId" class="btn btn-primary" data-toggle="modal" data-target="#modal-change"><i class="fa fa-change"></i>變更機構代碼</a>
                    <a asp-action="Index" class="btn btn-primary">回機構查詢列表</a>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- 下載合約 -->
<div class="modal fade" id="DownloadModal" tabindex="-1" aria-labelledby="DownloadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header align-items-center">
                <h5 class="modal-title" id="DownloadModalLabel">合約類別</h5>
                <button class="ml-2 btn btn-info" onclick="DownloadPdf('All',999)">全部開啟</button>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex justify-content-center mb-2">
                <table id="downloadEdithospbasicTable" class="table table-striped table-bordered table-hover" role="grid">
                    <thead>
                        <tr role="row">
                            <th data-orderable="false" class="text-nowrap">
                                序號
                            </th>
                            <th class="text-nowrap">&emsp; &emsp; &emsp; &emsp; &emsp; 檔案名稱 &emsp; &emsp; &emsp; &emsp; &emsp;</th>
                            <th class="text-nowrap">&emsp; &emsp; 上傳時間 &emsp; &emsp;</th>
                            <th class="text-nowrap">&emsp; 下載 &emsp;</th>
                            <th class="text-nowrap">&emsp; 刪除 &emsp;</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-change" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">變更機構代碼</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-inline">
                    <label class="col-sm-5 col-form-label text-right">變更新機構代碼</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="newHospId" />
                    </div>
                </div>
                <div class="form-inline">
                    <label class="col-sm-5 col-form-label text-right">變更機構名稱</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="newHospName" />
                    </div>
                </div>
                <div class="form-inline">
                    <label class="col-sm-5 col-form-label text-right">生效日</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control smkdate" id="contractStartDate" />
                    </div>
                </div>
                <div class="form-inline">
                    <label class="col-sm-5 col-form-label text-right">終止原因</label>
                    <div class="col-sm-5">
                        <select asp-items="endReasionsList"
                                class="form-control"
                                id="reasonNo">
                            <option value="">請選擇</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="btnChange">變更</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<style>
    th {
        vertical-align: middle !important;
    }

    td {
        vertical-align: middle !important;
    }

        td.highlight {
            color: red;
        }

    table {
        text-align: center;
    }
</style>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/datatables/js/jquery.dataTables.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js" asp-append-version="true"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js" asp-append-version="true"></script>

    <script type="text/javascript">
        function CheckHospContType() {
            if ($("#HospContType").val() == "0") {
                alert(`請先選擇【最新健保特約類別】,再存檔`);
                return false;
            }
            return true;
        }
        var $downloadEdithospbasicTable;
        var DownloadAllResponse;
        $(function () {
            $("#queryHospId").click(function () {
                if ($("input[name='HospId']").val() == "") {
                    myAlert.error("查詢錯誤", "醫事機構代碼未填寫", true);
                    return;
                }
            });
            $("#uploadFile").on("click", uploadFile);
            $("#btnChange").on("click", changeHospIdSubmit);

            //抓取上傳檔案的名稱
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });

            //上傳檔案的按鈕，當觸發時，會先抓取特定ID
            $(".input-group-append").on("click", function () {
                var id = $(this).find("button").val();
                var File = $(`#file-uploader_${id}`).get(0).files;
                var CreateDate = $(`#CreateDate_${id}`).text();
                var SMKContractType = $(`#SMKContractType_${id}`).val();
                var Id = $(`#Id_${id}`).val();
                if (File.length == 0) {
                    id = parseInt(id) + 1;
                    alert(`序號 : ${id}，因沒有上傳檔案，導致上傳失敗。`);
                } else if (CreateDate == "" || CreateDate == null || CreateDate == undefined) {
                    alert(`請先最下面儲存後，再進行檔案上傳。`);
                } else {
                    uploadFile(File, CreateDate, SMKContractType, Id);
                }
            });

            //上傳檔案的按鈕，當觸發時，會先抓取特定ID
            $(".button_Download").on("click", function () {
                var id = $(this).find("button").val();
                var CreateDate = $(`#CreateDate_${id}`).text();
                var SMKContractType = $(`#SMKContractType_${id}`).val();
                var UpdateFileTime = $(`#UpdateFileTime_${id}`).text();
                var Id = $(`#Id_${id}`).val();
                var FileDateTime = formatDate(new Date(UpdateFileTime));
                //console.log(id, CreateDate, SMKContractType, UpdateFileTime, FileDateTime, Id)
                //getFile(CreateDate, SMKContractType, FileDateTime, Id);
                //console.log(Id_data)
                $.ajax({
                    url: '@Url.Action("DownloadAll", "HospBasic")', // 请求的 URL
                    method: 'GET', // 请求的方法（GET、POST 等）
                    data: { Id: Id },
                    success: function (response) {
                        DownloadAllResponse = response;
                        if (DownloadAllResponse == null) {
                            alert('錯誤!!!沒有抓到檔案!!!');
                        } else {
                            DownloadAllDataTable();
                            $('#DownloadModal').modal();
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log('出現錯誤，陣列問題比較多', error);
                    }
                });
            });

            //觸及後重新整理頁面
            $('#updateaddHospContracts').on("click", function () {
                window.location.reload();
            })
        });

        function formatDate(date) {
            var year = date.getFullYear().toString();
            var month = (date.getMonth() + 1).toString().padStart(2, '0');
            var day = date.getDate().toString().padStart(2, '0');
            var hours = date.getHours().toString().padStart(2, '0');
            var minutes = date.getMinutes().toString().padStart(2, '0');
            var seconds = date.getSeconds().toString().padStart(2, '0');
            return year + month + day + hours + minutes + seconds;
        }

        function changeHospIdSubmit() {
            var newHospId = $.trim($("#newHospId").val());
            if (newHospId == "") {
                alert('未填寫醫事機構代碼');
                return;
            }

            // var newHospSeqno = $.trim($("#newHospSeqno").val());
            // if (newHospSeqno == "") {
            //      alert('未填寫醫事機構子代碼');
            //     return;
            // }
            var newHospName = $.trim($("#newHospName").val());
            if (newHospName == "") {
                alert('未填寫變更機構名稱');
                return;
            }

            var hospSDate = $.trim($("#contractStartDate").val());
            if (hospSDate == "") {
                alert('未填寫生效日');
                return;
            }

            let hospSeqNo = $("#HospSeqNo").val();
            let oldHospId = $("input[name='HospId']").val();
            $.ajax({
                url: `/api/HospBasic/${oldHospId}/clone`,
                type: "post",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify({
                    hospId: newHospId,
                    hospName: newHospName,
                    hospSDate: hospSDate,
                    endReasonNo: $("#reasonNo").val(),
                }),
                success: function (res) {
                    if (!res.isSuccess) {
                        alert("更新錯誤" + res.errMsg);
                        return;
                    }
                    else {
                        alert("更新成功");
                    }
                    $('#modal-change').modal('toggle');
                    setTimeout(function () {
                        location.replace(`@Url.Action("Edit", "HospBasic")?hospid=${newHospId}&hospseqno=${hospSeqNo}`);
                    }, 1000);
                }
            });
        }
        function onSuccess(data) {
            if (data.isSuccess) {
                myAlert.success("刪除成功", "刪除資料成功", true);
                $(this).closest("tr").detach();
            }
            else {
                myAlert.error("刪除錯誤", data.errMsg, true);
            }
        }
        function onDeleteSuccess(data) {
            if (data.isSuccess) {
                myAlert.success("刪除成功", "刪除資料成功", true);
                $('html, body').scrollTop(0);
                setTimeout(function () {
                    location.href = '@Url.Action("Index")';
                }, 3000);
            }
            else {
                $('html, body').scrollTop(0);
                myAlert.error("刪除錯誤", data.errMsg, true);
            }
        }
        function onFailed(data) {
            myAlert.error("刪除錯誤", data.errMsg, true);
            $('html, body').scrollTop(0);
        }
        function uploadFile(File, CreateDate, SMKContractType, Id) {
            var data = new FormData();
            var files = File;
            if (files.length == 0) {
                myAlert.error("上傳失敗", "未選擇檔案", true);
                return;
            }
            data.append("file", files[0]);
            data.append("hospid", $("#HospId").val());
            data.append("hospseqno", $("#HospSeqNo").val());
            data.append("CreateDate", CreateDate);
            data.append("SMKContractType", SMKContractType);
            data.append("Id", Id);
            var ajaxRequest = $.ajax({
                type: "POST",
                url: "@Url.Action("UploadFile")",
                contentType: false,
                processData: false,
                dataType: "json",
                data: data
            }).done(function (res, textStatus) {
                if (!res.isSuccess) {
                    myAlert.error("上傳失敗", res.errMsg, true);
                }
                else {
                    myAlert.success("上傳成功", "", true);
                    firm("上傳成功，是否要重新整理 ? (建議確定)");
                }
                $("#file-uploader").val("");
            });
        }

        //彈出一個詢問框，有確定和取消按鈕
        function firm(data) {
            //利用對話方塊返回的值 （true 或者 false）
            if (confirm(data)) {
                window.location.reload();
            }
        }

        function confirmDelete(event, data) {
            var confirmed = confirm(data);
            if (!confirmed) {
                event.stopImmediatePropagation(); // 停止事件传播
                event.preventDefault(); // 阻止链接的默认行为
                return false;
            }
        }

        // 舊版開啟檔案
        //function getFile(CreateDate, SMKContractType, UpdateFileTime, id) {
        //    var HospId = $("#HospId").val();
        //    var HospSeqNo = $("#HospSeqNo").val();
        //    $.ajax({
        //        url: '@Url.Action("Download")?hospid=' + HospId + '&hospseqno=' + HospSeqNo + '&CreateDate=' + CreateDate + '&SMKContractType=' + SMKContractType + '&UpdateFileTime=' + UpdateFileTime + '&Id=' + id,
        //        type: 'HEAD',
        //        error: function () {
        //            myAlert.error("下載檔案失敗", "檔案不存在", true);
        //            alert("下載檔案失敗，檔案不存在。");
        //        },
        //        success: function () {
        //            window.open('@Url.Action("Download")?hospid=' + HospId + '&hospseqno=' + HospSeqNo + '&CreateDate=' + CreateDate + '&SMKContractType=' + SMKContractType + '&UpdateFileTime=' + UpdateFileTime + '&Id=' + id, "_blank");
        //            //location.href = '@Url.Action("Download")?hospid=' + data.hospID + '&hospseqno=' + data.hospSeqNo;
        //        }
        //    });
        //}

        //彈出一個詢問框，有確定和取消按鈕
        function confirmDeletePDF(data, SysNo) {
            //利用對話方塊返回的值 （true 或者 false）
            data = `請問是否要刪除【${DownloadAllResponse[SysNo].remark}】呢?`
            if (confirm(data)) {
                if (DownloadAllResponse.length != SysNo + 1) {
                    DeletePdf(SysNo)
                } else {
                    alert("最新檔案禁止刪除。");
                }
            }
        }

        function DeletePdf(SysNo) {
            var NewUrl = '@Url.Action("DeletePdf")?hospid=' + DownloadAllResponse[SysNo].hospId + '&hospseqno=' + DownloadAllResponse[SysNo].hospSeqNo + '&SMKContractType=' + DownloadAllResponse[SysNo].smkcontractType + '&UpdateFileTime=' + DownloadAllResponse[SysNo].updateFileTime + '&remark=' + DownloadAllResponse[SysNo].remark;
            $.ajax({
                url: NewUrl, // 请求的 URL
                method: 'GET', // 请求的方法（GET、POST 等）
                success: function (response) {
                    if (response.errMsg == '刪除成功') {
                        myAlert.success("刪除成功", "", true);
                        firm("刪除成功，是否要重新整理 ? (建議確定)");
                    }
                },
                error: function (xhr, status, error) {
                    console.log('出現錯誤，陣列問題比較多', error);
                }
            });
        }


        function DownloadAllDataTable() {
            if ($downloadEdithospbasicTable)
                $downloadEdithospbasicTable.destroy();
            var HospName = $('#HospName').val();
            $("#DownloadModalLabel").text(`${HospName}`);

            $downloadEdithospbasicTable = $("#downloadEdithospbasicTable").DataTable({
                "scrollY": "500px",//可选，是否固定表格高度，不包括表头；
                "scrollCollapse": true,//与scrollY结合使用，是否固定高度，默认false;
                "scrollX": true,
                "serverSide": false,
                "scrollX": true,
                "data": DownloadAllResponse,
                "paging": true,
                "searching": false,
                "ordering": true,
                "order": [[2, 'desc']],
                "columns": [
                    {
                        className: "sorting_1",
                        data: null,
                        width: "5%",
                        targets: 0,
                        render: function (data, type, full, meta) {
                            var settings = meta.settings;
                            var serial = meta.row + 1 + settings._iDisplayLength * settings._iDisplayStart / settings._iDisplayLength;
                            return serial;
                        }
                    },
                    { data: "remark", targets: 1 },
                    { data: "updateFileTime", targets: 2 },
                    {
                        targets: 3,
                        data: null,
                        render: function (data, type, full, meta) {
                            var settings = meta.settings;
                            var serial = meta.row + settings._iDisplayLength * settings._iDisplayStart / settings._iDisplayLength;
                            return `<button type="button" title="下載" value = "${serial}" onclick="DownloadPdf('Only',${serial})"><i class= "fas fa-download" aria-hidden="true" ></i></button >`;
                        }
                    },
                    {
                        targets: 4,
                        data: null,
                        render: function (data, type, full, meta) {
                            var settings = meta.settings;
                            var serial = meta.row + settings._iDisplayLength * settings._iDisplayStart / settings._iDisplayLength;
                            return `<button type="button" title="下載" value = "${serial}" onclick="confirmDeletePDF('', ${serial})" class = "btn btn-danger">刪除</button >`;
                        }
                    },
                ]
            });

        }

        function DownloadPdf(All, SysNo) {
            if (All == "All") {
                for (var i = 0; i < DownloadAllResponse.length; i++) {
                    window.open('@Url.Action("DownloadGetAll")?hospid=' + DownloadAllResponse[i].hospId + '&hospseqno=' + DownloadAllResponse[i].hospSeqNo + '&SMKContractType=' + DownloadAllResponse[i].smkcontractType + '&UpdateFileTime=' + DownloadAllResponse[i].updateFileTime + '&remark=' + DownloadAllResponse[i].remark, "_blank");
                }
            } else {
                console.log(DownloadAllResponse[SysNo].updateFileTime)
                window.open('@Url.Action("DownloadGetAll")?hospid=' + DownloadAllResponse[SysNo].hospId + '&hospseqno=' + DownloadAllResponse[SysNo].hospSeqNo + '&SMKContractType=' + DownloadAllResponse[SysNo].smkcontractType + '&UpdateFileTime=' + DownloadAllResponse[SysNo].updateFileTime + '&remark=' + DownloadAllResponse[SysNo].remark, "_blank");
            }
        }

        Vue.component('datepicker', {
            template: '<input type="text" class="form-control" placeholder="" v-bind:value="value" v-on:input="$emit(\'input\', $event.target.value)" />',
            props: ['value'],
            mounted: function () {
                $(this.$el).datepicker({
                    changeYear: true,
                    changeMonth: true,
                    yearRange: "-20:+10",
                    onClose: this.onClose
                });
            },
            methods: {
                onClose(date) {
                    this.$emit('input', date)
                },
            },
            watch: {
                value(newVal) { $(this.el).datepicker('setDate', newVal); }
            }
        });
        Vue.component('Modal', VueModal);
        const app = new Vue({
            el: '#app',
            components: {
                'Modal': VueModal,
            },
            data: {
                showModal: false,
                hospContTypeSelected: false,
                options: [],
                hospContTypes: [],
                hospContTypes_length: 0,
                newHospContTypes: "",
                LastHospContTypescntcntEDate: "",
            },
            watch: {
                newHospContTypes: function () {
                    if (app.hospContTypes_length != 0) {
                        if (app.newHospContTypes == "0") {
                            if (app.hospContTypes_length != app.hospContTypes.length) {
                                this.hospContTypes.splice(app.hospContTypes.length - 1);
                                this.hospContTypes[app.hospContTypes.length - 1] = {
                                    hospContType: this.hospContTypes[app.hospContTypes.length - 1].hospContType,
                                    cntSDate: this.hospContTypes[app.hospContTypes.length - 1].cntSDate,
                                    cntEDate: app.LastHospContTypescntcntEDate,
                                }
                            }
                        }
                        else {
                            if (app.hospContTypes_length != app.hospContTypes.length && app.newHospContTypes == this.hospContTypes[app.hospContTypes_length - 1].hospContType) {
                                this.hospContTypes.splice(app.hospContTypes.length - 1);
                                this.hospContTypes[app.hospContTypes.length - 1] = {
                                    hospContType: this.hospContTypes[app.hospContTypes.length - 1].hospContType,
                                    cntSDate: this.hospContTypes[app.hospContTypes.length - 1].cntSDate,
                                    cntEDate: app.LastHospContTypescntcntEDate,
                                }
                            }
                            else if (app.newHospContTypes != this.hospContTypes[app.hospContTypes.length - 1].hospContType && this.hospContTypes.length == this.hospContTypes_length) {
                                this.hospContTypes[app.hospContTypes.length - 1] = {
                                    hospContType: this.hospContTypes[app.hospContTypes.length - 1].hospContType,
                                    cntSDate: this.hospContTypes[app.hospContTypes.length - 1].cntSDate,
                                    cntEDate: convertDateFormat(-1),
                                }
                                this.hospContTypes.push({
                                    hospContType: app.newHospContTypes,
                                    cntSDate: $("#HospContMainType_StartDay").val(),
                                    cntEDate: '',
                                });
                            } else if (this.hospContTypes.length != this.hospContTypes_length) {
                                this.hospContTypes[app.hospContTypes.length - 1] = {
                                    hospContType: app.newHospContTypes,
                                    cntSDate: $("#HospContMainType_StartDay").val(),
                                    cntEDate: '',
                                }
                            } else {
                                this.hospContTypes[app.hospContTypes.length - 1] = {
                                    hospContType: app.newHospContTypes,
                                    cntSDate: $("#HospContMainType_StartDay").val(),
                                    cntEDate: '',
                                }
                            }
                        }
                    } else {
                        if (app.newHospContTypes == "0") {
                            this.hospContTypes.splice(app.hospContTypes.length - 1);
                        } else {
                            if (app.hospContTypes.length != 0)
                                this.hospContTypes.splice(app.hospContTypes.length - 1);
                            this.hospContTypes[0] = {
                                hospContType: app.newHospContTypes,
                                cntSDate: $("#HospContMainType_StartDay").val() == "" ? convertDateFormat(- 1) : $("#HospContMainType_StartDay").val(),
                                cntEDate: '',
                            }
                        }
                    }
                }
            },
            methods: {
                toggleContractTypeModal: function () {
                    this.showModal = !this.showModal;
                },
                addHospContractType: function () {
                    this.hospContTypes.push({
                        hospContType: '',
                        cntSDate: convertDateFormat(-1),
                        cntEDate: '',
                    });
                },
                removeHospContractType: function (index) {
                    Vue.delete(this.hospContTypes, index);
                    app.hospContTypes_length = app.hospContTypes.length;
                },
                getHospContTypeName(index) { return `HospContractTypes[${index}].HospContType` },
                getCntEDateName(index) { return `HospContractTypes[${index}].CntEDate` },
                getCntSDateName(index) { return `HospContractTypes[${index}].CntSDate` }
            },
            mounted() {
                $.ajax({
                    url: '../api/GenHospCont',
                    type: "get",
                    dataType: "json",
                    success: function (res) {
                        if (!res.isSuccess) {
                            myAlert.error("查詢錯誤", res.errMsg, true);
                            return;
                        }
                        res.data.unshift(
                            {
                                hospContName: '請選擇',
                                hospContType: '0',
                                qualityDefaultCount: 0,
                                qualityImproveCount: 0,
                            }
                        );
                        app.options = res.data;
                        var LastContType = @((Model.HospContMainType_HospContType == null || Model.HospContMainType_HospContType == "") ? "0" : Model.HospContMainType_HospContType);
                        app.newHospContTypes = LastContType == "" || LastContType == null ? "0" : LastContType;
                    }
                });

                let url = new URL(window.location);
                $.ajax({
                    url: `../api/HospContractType/Get?hospid=${url.searchParams.get('hospid')}&hospseqno=${url.searchParams.get('hospseqno')}`,
                    type: "GET",
                    dataType: "json",
                    success: function (res) {
                        if (!res.isSuccess) {
                            myAlert.error("查詢錯誤", res.errMsg, true);
                            return;
                        }
                        app.hospContTypes = res.data;
                        app.hospContTypes_length = res.data.length;
                        app.LastHospContTypescntcntEDate = app.hospContTypes_length == 0 ? convertDateFormat(-1) : app.hospContTypes[app.hospContTypes_length - 1].cntEDate;
                    }
                });
            }
        })

        function convertDateFormat(days) {
            const date = new Date();
            date.setDate(date.getDate() + days);
            const year = date.getFullYear() - 1911; // 西元年減去 1911 就是民國年
            const month = date.getMonth() + 1; // JavaScript 的月份是從 0 開始，所以要加 1
            const day = date.getDate();
            // 使用模板字面值來構建轉換後的日期格式
            const taiwanDate = `${year.toString().padStart(3, '0')}/${month.toString().padStart(2, '0')}/${day.toString().padStart(2, '0')}`;
            return taiwanDate;
        }
    </script>
}
